body {
  position: absolute;
}
.navbar {
  color: white;
   margin-top: 30px;
}

.conteiner-navbar {
  width: 50vw;
   height: 6vh;
  border-radius: 25px;
  background-color: #2d2c2c;
  padding: 5px 20px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  color: white;
  font-size: 18px;
  padding: 10px;
  width: 15vw;
  height: 2vh;
  background-color: #3c3b3b;
  border: none;
  border-radius: 25px;
}

.navbar-right {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

.light {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #3a3939;
}

.perfil-user-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #3a3939;
}

.info-perfil p{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}
