body {
  position: absolute;
}
.navbar {
  width: 75%;
  height: 8vh;
  margin-top: 40px;
  border-radius: 15px;
  background-color: #2d2c2c;
  color: white;
}

.conteiner-navbar{
  padding: 5px  20px;
}
